<div>
    <h2 id="section-title">Y O U R N E W F I T</h2>
    <div class="section-wrapper col-2"></div>
    <div class="container-fluid col-8">
        <div class="card" id="new-fit-1">
            <div class="image-wrapper">
                <div class="container fit-container col-10" id="new-fit-1">
                    <div class="card" id="top-card">
                        <img src="https://cdn-images.farfetch-contents.com/17/31/02/43/17310243_36011399_322.jpg"
                            class="card-img object-fit-fill" alt="top-card-img">
                    </div>
                    <div class="card" id="bottom-card">
                        <img src="https://www.plaskateboarding.com/cdn/shop/products/DICKIES_ORIGINAL_874_WORK_PANTS_-_DARK_BROWN.jpg?v=1560289017"
                            class="card-img object-fit-fill" alt="bottom-card-img">
                    </div>
                    <div class="card" id="accessories-card">
                        <img src="https://web-resource.gentlemonster.com/assets/stories/dheygere/stories/product/mo/intro_pierced_mo_2_v3.png"
                            class="card-img object-fit-fill" alt="accessories-card-img">
                    </div>
                    <div class="card" id="shoes-card">
                        <img src="https://static.mercdn.net/item/detail/orig/photos/m44045632640_1.jpg?1674281859"
                            class="card-img object-fit-fill" alt="shoes-card-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-wrapper col-2"></div>
</div>