<div>
    <h2 id="section-title">S E L E C T E D F I T</h2>
    <div class="section-wrapper col-2"></div>
    <div class="container-fluid col-8">
        <div class="card" id="new-fit-1">
            <div class="image-wrapper">
                {{#each fit.products as |product|}}
                <div class="container fit-container col-10" id="new-fit-1">
                    <div class="card" id="category-id-{{product.category_id}}">
                        <img src="{{product.image_url}}"
                            class="card-img object-fit-fill" alt="category-id-{{product.category_id}}-img">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="section-wrapper col-2"></div>
</div>