<div>
    <h2 id="section-title">Y O U R S</h2>
    <div class="section-wrapper col-2"></div>
    <div class="container-fluid col-8" id="yours">
        {{#each outfits as |outfit|}}
        <div class="card" id="your-card">
            <div class="image-wrapper">
                <div class="container fit-container" id="your-fit">
                    {{#each outfit.products as |product|}}
                    <div class="card" id="category-id-{{product.category_id}}">
                        <img src="{{product.image_url}}" class="card-img object-fit-fill" alt="top-card-img">
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="section-wrapper col-2"></div>
</div>